In [146]:
import numpy as np
import pandas as pd

In [147]:
# Metric MAE
from sklearn.metrics import mean_absolute_error
from datetime import datetime

# Imports for creating plots
import matplotlib.pyplot as plt
from pylab import rcParams
rcParams['figure.figsize'] = 18, 7

In [175]:
train = pd.read_csv('train.csv')

In [176]:
print(train.head())

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

Here below we add columns with data about weekday, week number and year

In [177]:
train['Year'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%Y")), axis=1)
train['Month'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%m")), axis=1)
train['Day'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%d")), axis=1)
train['Year_day'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%j")), axis=1)
train['Weekday'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%w")), axis=1)
train['Week_nb'] = train.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%U")), axis=1)
train

,row_id,date,country,store,product,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1,1,4,0
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1,1,4,0
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1,1,4,0
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1,1,4,0
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26293,26293,2018-12-31,Sweden,KaggleMart,Kaggle Hat,823,2018,12,31,365,1,52
26294,26294,2018-12-31,Sweden,KaggleMart,Kaggle Sticker,250,2018,12,31,365,1,52
26295,26295,2018-12-31,Sweden,KaggleRama,Kaggle Mug,1004,2018,12,31,365,1,52
26296,26296,2018-12-31,Sweden,KaggleRama,Kaggle Hat,1441,2018,12,31,365,1,52
26297,26297,2018-12-31,Sweden,KaggleRama,Kaggle Sticker,388,2018,12,31,365,1,52

Let's import test data

In [178]:
test = pd.read_csv('test.csv')

In [179]:
test

      row_id        date  country       store         product
0      26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1      26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2      26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3      26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4      26302  2019-01-01  Finland  KaggleRama      Kaggle Hat
...      ...         ...      ...         ...             ...
6565   32863  2019-12-31   Sweden  KaggleMart      Kaggle Hat
6566   32864  2019-12-31   Sweden  KaggleMart  Kaggle Sticker
6567   32865  2019-12-31   Sweden  KaggleRama      Kaggle Mug
6568   32866  2019-12-31   Sweden  KaggleRama      Kaggle Hat
6569   32867  2019-12-31   Sweden  KaggleRama  Kaggle Sticker

[6570 rows x 5 columns]

In [180]:
GDP = pd.read_csv('GDP_data_2015_to_2019_Finland_Norway_Sweden.csv')

Let's add week number, week day to the test data set

In [181]:
test['Year'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%Y")), axis=1)
test['Month'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%m")), axis=1)
test['Day'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%d")), axis=1)
test['Year_day'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%j")), axis=1)
test['Weekday'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%w")), axis=1)
test['Week_nb'] = test.apply(lambda row: int(datetime.strptime(row['date'], '%Y-%m-%d').strftime("%U")), axis=1)
test

,row_id,date,country,store,product,Year,Month,Day,Year_day,Weekday,Week_nb
0,26298,2019-01-01,Finland,KaggleMart,Kaggle Mug,2019,1,1,1,2,0
1,26299,2019-01-01,Finland,KaggleMart,Kaggle Hat,2019,1,1,1,2,0
2,26300,2019-01-01,Finland,KaggleMart,Kaggle Sticker,2019,1,1,1,2,0
3,26301,2019-01-01,Finland,KaggleRama,Kaggle Mug,2019,1,1,1,2,0
4,26302,2019-01-01,Finland,KaggleRama,Kaggle Hat,2019,1,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...
6565,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,2019,12,31,365,2,52
6566,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,2019,12,31,365,2,52
6567,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,2019,12,31,365,2,52
6568,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,2019,12,31,365,2,52
6569,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,2019,12,31,365,2,52

In [182]:
GDP

   year  GDP_Finland  GDP_Norway  GDP_Sweden
0  2015      234.440     385.802     505.104
1  2016      240.608     368.827     515.655
2  2017      255.017     398.394     541.019
3  2018      275.580     437.000     555.455
4  2019      268.782     405.510     533.880

In [183]:
GDP_list = []
for index, row in train.iterrows():
    year = row['Year']
    country = row['country']
    df_gdp = GDP[GDP['year'] == year]
    if country == 'Finland':
        GDP_list.append(df_gdp.iloc[0][1])
    elif  country == 'Norway':
        GDP_list.append(df_gdp.iloc[0][2])
    else:
        GDP_list.append(df_gdp.iloc[0][3])
train['GDP']= GDP_list

In [184]:
train

,row_id,date,country,store,product,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1,1,4,0,234.440
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1,1,4,0,234.440
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1,1,4,0,234.440
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1,1,4,0,234.440
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1,1,4,0,234.440
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26293,26293,2018-12-31,Sweden,KaggleMart,Kaggle Hat,823,2018,12,31,365,1,52,555.455
26294,26294,2018-12-31,Sweden,KaggleMart,Kaggle Sticker,250,2018,12,31,365,1,52,555.455
26295,26295,2018-12-31,Sweden,KaggleRama,Kaggle Mug,1004,2018,12,31,365,1,52,555.455
26296,26296,2018-12-31,Sweden,KaggleRama,Kaggle Hat,1441,2018,12,31,365,1,52,555.455
26297,26297,2018-12-31,Sweden,KaggleRama,Kaggle Sticker,388,2018,12,31,365,1,52,555.455

In [185]:
GDP_list = []
for index, row in test.iterrows():
    year = row['Year']
    country = row['country']
    df_gdp = GDP[GDP['year'] == year]
    if country == 'Finland':
        GDP_list.append(df_gdp.iloc[0][1])
    elif  country == 'Norway':
        GDP_list.append(df_gdp.iloc[0][2])
    else:
        GDP_list.append(df_gdp.iloc[0][3])
test['GDP']= GDP_list

In [186]:
test

,row_id,date,country,store,product,Year,Month,Day,Year_day,Weekday,Week_nb,GDP
0,26298,2019-01-01,Finland,KaggleMart,Kaggle Mug,2019,1,1,1,2,0,268.782
1,26299,2019-01-01,Finland,KaggleMart,Kaggle Hat,2019,1,1,1,2,0,268.782
2,26300,2019-01-01,Finland,KaggleMart,Kaggle Sticker,2019,1,1,1,2,0,268.782
3,26301,2019-01-01,Finland,KaggleRama,Kaggle Mug,2019,1,1,1,2,0,268.782
4,26302,2019-01-01,Finland,KaggleRama,Kaggle Hat,2019,1,1,1,2,0,268.782
...,...,...,...,...,...,...,...,...,...,...,...,...
6565,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,2019,12,31,365,2,52,533.880
6566,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,2019,12,31,365,2,52,533.880
6567,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,2019,12,31,365,2,52,533.880
6568,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,2019,12,31,365,2,52,533.880
6569,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,2019,12,31,365,2,52,533.880

### Holiday

In [187]:
from datetime import date
import holidays
import calendar
import dateutil.easter as easter

In [188]:
Norway_h = []
for ptr in holidays.Norway(years = [2019, 2018, 2017, 2016, 2015], observed=True):#.items():
    Norway_h.append(str(ptr))
Finland_h = []
for ptr in holidays.Finland(years = [2019, 2018, 2017, 2016, 2015], observed=True):#.items():
    Finland_h.append(str(ptr))
Sweden_h = []
for ptr in holidays.Sweden(years = [2019, 2018, 2017, 2016, 2015], observed=True):#.items():
    Sweden_h.append(str(ptr))

In [189]:
Norway_holiday =pd.DataFrame(Norway_h, columns =['Norway'])
Finland_holiday =pd.DataFrame(Finland_h, columns =['Finland'])
Sweden_holiday =pd.DataFrame(Sweden_h, columns =['Sweden'])

In [190]:
Norway_holiday.head()

       Norway
0  2016-01-01
1  2016-05-01
2  2016-05-17
3  2016-12-25
4  2016-12-26

In [191]:
Finland_holiday.head()

      Finland
0  2016-01-01
1  2016-01-06
2  2016-03-25
3  2016-03-27
4  2016-03-28

In [192]:
Sweden_holiday.head()

       Sweden
0  2016-01-03
1  2016-01-10
2  2016-01-17
3  2016-01-24
4  2016-01-31

In [193]:
train['holiday_N'] = 0
train['holiday_F'] = 0
train['holiday_S'] = 0

In [194]:
for index, row in Norway_holiday.iterrows():
    train['holiday_N'] = np.where((train['country']== 'Norway')& (train['date']== row['Norway']), train['holiday_N']+1, train['holiday_N'])

In [195]:
for index, row in Finland_holiday.iterrows():
    train['holiday_F'] = np.where((train['country']== 'Finland')& (train['date']== row['Finland']), train['holiday_F']+1, train['holiday_F'])

In [196]:
for index, row in Sweden_holiday.iterrows():
    train['holiday_S'] = np.where((train['country']== 'Sweden')& (train['date']== row['Sweden']), train['holiday_S']+1, train['holiday_S'])

In [197]:
train

,row_id,date,country,store,product,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,holiday_N,holiday_F,holiday_S
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1,1,4,0,234.440,0,1,0
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1,1,4,0,234.440,0,1,0
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1,1,4,0,234.440,0,1,0
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1,1,4,0,234.440,0,1,0
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1,1,4,0,234.440,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26293,26293,2018-12-31,Sweden,KaggleMart,Kaggle Hat,823,2018,12,31,365,1,52,555.455,0,0,1
26294,26294,2018-12-31,Sweden,KaggleMart,Kaggle Sticker,250,2018,12,31,365,1,52,555.455,0,0,1
26295,26295,2018-12-31,Sweden,KaggleRama,Kaggle Mug,1004,2018,12,31,365,1,52,555.455,0,0,1
26296,26296,2018-12-31,Sweden,KaggleRama,Kaggle Hat,1441,2018,12,31,365,1,52,555.455,0,0,1
26297,26297,2018-12-31,Sweden,KaggleRama,Kaggle Sticker,388,2018,12,31,365,1,52,555.455,0,0,1

In [198]:
test['holiday_N'] = 0
test['holiday_F'] = 0
test['holiday_S'] = 0

In [199]:
for index, row in Norway_holiday.iterrows():
    test['holiday_N'] = np.where((test['country']== 'Norway')& (test['date']== row['Norway']), test['holiday_N']+1, test['holiday_N'])

In [200]:
for index, row in Finland_holiday.iterrows():
    test['holiday_F'] = np.where((test['country']== 'Finland')& (test['date']== row['Finland']), test['holiday_F']+1, test['holiday_F'])

In [201]:
for index, row in Sweden_holiday.iterrows():
    test['holiday_S'] = np.where((test['country']== 'Sweden')& (test['date']== row['Sweden']), test['holiday_S']+1, test['holiday_S'])

### CatBoost

In [202]:
data_spl_start = np.where([train['Year'] == 2017])[1][0]
train = train.iloc[data_spl_start:]
#X_valid = X.iloc[data_spl_start:]
#y_train = y.iloc[: data_spl_start]
#y_valid = y.iloc[data_spl_start:]

In [203]:
train

,row_id,date,country,store,product,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,holiday_N,holiday_F,holiday_S
13158,13158,2017-01-01,Finland,KaggleMart,Kaggle Mug,436,2017,1,1,1,0,1,255.017,0,1,0
13159,13159,2017-01-01,Finland,KaggleMart,Kaggle Hat,729,2017,1,1,1,0,1,255.017,0,1,0
13160,13160,2017-01-01,Finland,KaggleMart,Kaggle Sticker,188,2017,1,1,1,0,1,255.017,0,1,0
13161,13161,2017-01-01,Finland,KaggleRama,Kaggle Mug,747,2017,1,1,1,0,1,255.017,0,1,0
13162,13162,2017-01-01,Finland,KaggleRama,Kaggle Hat,1186,2017,1,1,1,0,1,255.017,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26293,26293,2018-12-31,Sweden,KaggleMart,Kaggle Hat,823,2018,12,31,365,1,52,555.455,0,0,1
26294,26294,2018-12-31,Sweden,KaggleMart,Kaggle Sticker,250,2018,12,31,365,1,52,555.455,0,0,1
26295,26295,2018-12-31,Sweden,KaggleRama,Kaggle Mug,1004,2018,12,31,365,1,52,555.455,0,0,1
26296,26296,2018-12-31,Sweden,KaggleRama,Kaggle Hat,1441,2018,12,31,365,1,52,555.455,0,0,1
26297,26297,2018-12-31,Sweden,KaggleRama,Kaggle Sticker,388,2018,12,31,365,1,52,555.455,0,0,1

In [204]:
train_encoded = pd.get_dummies(train, columns = ['country' , 'store' , 'product']) 
train_encoded.head()

,row_id,date,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,...,holiday_F,holiday_S,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
13158,13158,2017-01-01,436,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,0,1,0
13159,13159,2017-01-01,729,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,1,0,0
13160,13160,2017-01-01,188,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,0,0,1
13161,13161,2017-01-01,747,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,0,1,0,1,0
13162,13162,2017-01-01,1186,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,0,1,1,0,0

In [205]:
test_encoded = pd.get_dummies(test, columns = ['country' , 'store' , 'product']) 
test_encoded.head()

,row_id,date,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,holiday_N,holiday_F,holiday_S,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
0,26298,2019-01-01,2019,1,1,1,2,0,268.782,0,1,0,1,0,0,1,0,0,1,0
1,26299,2019-01-01,2019,1,1,1,2,0,268.782,0,1,0,1,0,0,1,0,1,0,0
2,26300,2019-01-01,2019,1,1,1,2,0,268.782,0,1,0,1,0,0,1,0,0,0,1
3,26301,2019-01-01,2019,1,1,1,2,0,268.782,0,1,0,1,0,0,0,1,0,1,0
4,26302,2019-01-01,2019,1,1,1,2,0,268.782,0,1,0,1,0,0,0,1,1,0,0

In [206]:
train_encoded.index=train_encoded['date']
test_encoded.index=test_encoded['date']
train_encoded.head()

,row_id,date,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,...,holiday_F,holiday_S,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,13158,2017-01-01,436,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,0,1,0
2017-01-01,13159,2017-01-01,729,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,1,0,0
2017-01-01,13160,2017-01-01,188,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,1,0,0,0,1
2017-01-01,13161,2017-01-01,747,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,0,1,0,1,0
2017-01-01,13162,2017-01-01,1186,2017,1,1,1,0,1,255.017,...,1,0,1,0,0,0,1,1,0,0

In [207]:
train_encoded=train_encoded.drop('date',axis=1)
test_encoded=test_encoded.drop('date',axis=1)

In [208]:
train_encoded=train_encoded.drop('row_id',axis=1)

In [209]:
train_encoded

,num_sold,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,holiday_N,holiday_F,holiday_S,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
date,,,,,,,,,,,,,,,,,,,
2017-01-01,436,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,0,1,0
2017-01-01,729,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,1,0,0
2017-01-01,188,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,0,0,1
2017-01-01,747,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,0,1,0,1,0
2017-01-01,1186,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,823,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,1,0,1,0,0
2018-12-31,250,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,1,0,0,0,1
2018-12-31,1004,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,0,1,0
2018-12-31,1441,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,1,0,0
2018-12-31,388,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,0,0,1

In [210]:
X=train_encoded.drop('num_sold',axis=1)
y=train_encoded['num_sold']

In [211]:
X

,Year,Month,Day,Year_day,Weekday,Week_nb,GDP,holiday_N,holiday_F,holiday_S,country_Finland,country_Norway,country_Sweden,store_KaggleMart,store_KaggleRama,product_Kaggle Hat,product_Kaggle Mug,product_Kaggle Sticker
date,,,,,,,,,,,,,,,,,,
2017-01-01,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,0,1,0
2017-01-01,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,1,0,0
2017-01-01,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,1,0,0,0,1
2017-01-01,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,0,1,0,1,0
2017-01-01,2017,1,1,1,0,1,255.017,0,1,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,1,0,1,0,0
2018-12-31,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,1,0,0,0,1
2018-12-31,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,0,1,0
2018-12-31,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,1,0,0
2018-12-31,2018,12,31,365,1,52,555.455,0,0,1,0,0,1,0,1,0,0,1

In [212]:
#data_spl_start = np.where([X['Year'] == 2018])[1][0]
#X_train = X.iloc[: data_spl_start]
#X_valid = X.iloc[data_spl_start:]
#y_train = y.iloc[: data_spl_start]
#y_valid = y.iloc[data_spl_start:]

In [213]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.33, random_state=42)

In [214]:
y_valid

date
2017-12-11     646
2017-06-03     427
2018-05-06     931
2017-05-06     141
2018-11-03     376
              ...
2018-07-25     570
2017-02-03     599
2017-12-02     566
2018-02-11    1016
2017-01-22     570
Name: num_sold, Length: 4337, dtype: int64

In [215]:
from catboost import CatBoostRegressor
cat = CatBoostRegressor()
cat.fit(X_train,y_train)

Learning rate set to 0.057734
0:	learn: 268.9336311	total: 161ms	remaining: 2m 41s
1:	learn: 255.8479342	total: 166ms	remaining: 1m 23s
2:	learn: 243.5435267	total: 171ms	remaining: 56.9s
3:	learn: 231.6346332	total: 176ms	remaining: 43.8s
4:	learn: 220.6377088	total: 189ms	remaining: 37.6s
5:	learn: 210.1842667	total: 193ms	remaining: 31.9s
6:	learn: 200.4956142	total: 213ms	remaining: 30.3s
7:	learn: 191.4611864	total: 230ms	remaining: 28.5s
8:	learn: 182.8833949	total: 233ms	remaining: 25.6s
9:	learn: 174.8953379	total: 235ms	remaining: 23.3s
10:	learn: 167.8019475	total: 238ms	remaining: 21.4s
11:	learn: 160.8238452	total: 244ms	remaining: 20.1s
12:	learn: 154.5929270	total: 247ms	remaining: 18.7s
13:	learn: 148.8989117	total: 260ms	remaining: 18.3s
14:	learn: 143.2156092	total: 262ms	remaining: 17.2s
15:	learn: 138.0279750	total: 278ms	remaining: 17.1s
16:	learn: 133.4761097	total: 294ms	remaining: 17s
17:	learn: 128.9971705	total: 340ms	remaining: 18.6s
18:	learn: 124.7433640	total: 356ms	remaining: 18.4s
19:	learn: 120.8299694	total: 359ms	remaining: 17.6s
20:	learn: 116.7338161	total: 361ms	remaining: 16.9s
21:	learn: 113.2944594	total: 371ms	remaining: 16.5s
22:	learn: 109.8941565	total: 374ms	remaining: 15.9s
23:	learn: 106.8353989	total: 385ms	remaining: 15.7s
24:	learn: 103.9929057	total: 388ms	remaining: 15.1s
25:	learn: 101.2132691	total: 400ms	remaining: 15s
26:	learn: 98.6659459	total: 416ms	remaining: 15s
27:	learn: 96.3155483	total: 432ms	remaining: 15s
28:	learn: 94.0288444	total: 458ms	remaining: 15.3s
29:	learn: 91.8442581	total: 460ms	remaining: 14.9s
30:	learn: 89.9280294	total: 463ms	remaining: 14.5s
31:	learn: 88.1193052	total: 465ms	remaining: 14.1s
32:	learn: 86.1406902	total: 489ms	remaining: 14.3s
33:	learn: 84.5566644	total: 504ms	remaining: 14.3s
34:	learn: 82.8421464	total: 507ms	remaining: 14s
35:	learn: 81.1475944	total: 520ms	remaining: 13.9s
36:	learn: 79.5808085	total: 523ms	remaining: 13.6s
37:	learn: 78.1904271	total: 538ms	remaining: 13.6s
38:	learn: 76.7994678	total: 553ms	remaining: 13.6s
39:	learn: 75.5598313	total: 557ms	remaining: 13.4s
40:	learn: 74.3244290	total: 560ms	remaining: 13.1s
41:	learn: 73.1557122	total: 563ms	remaining: 12.8s
42:	learn: 71.9965968	total: 567ms	remaining: 12.6s
43:	learn: 70.9605164	total: 571ms	remaining: 12.4s
44:	learn: 70.0492493	total: 574ms	remaining: 12.2s
45:	learn: 69.0485771	total: 578ms	remaining: 12s
46:	learn: 68.1864037	total: 581ms	remaining: 11.8s
47:	learn: 67.3090260	total: 585ms	remaining: 11.6s
48:	learn: 66.5412228	total: 588ms	remaining: 11.4s
49:	learn: 65.7792057	total: 591ms	remaining: 11.2s
50:	learn: 65.0272101	total: 594ms	remaining: 11s
51:	learn: 64.2863562	total: 596ms	remaining: 10.9s
52:	learn: 63.5977995	total: 599ms	remaining: 10.7s
53:	learn: 62.9697680	total: 601ms	remaining: 10.5s
54:	learn: 62.2912957	total: 604ms	remaining: 10.4s
55:	learn: 61.6609848	total: 606ms	remaining: 10.2s
56:	learn: 61.0651076	total: 609ms	remaining: 10.1s
57:	learn: 60.4712978	total: 619ms	remaining: 10.1s
58:	learn: 59.7957328	total: 622ms	remaining: 9.91s
59:	learn: 59.3064984	total: 624ms	remaining: 9.77s
60:	learn: 58.7869135	total: 626ms	remaining: 9.64s
61:	learn: 58.2775317	total: 628ms	remaining: 9.51s
62:	learn: 57.7716500	total: 631ms	remaining: 9.38s
63:	learn: 57.2936280	total: 649ms	remaining: 9.5s
64:	learn: 56.8010922	total: 652ms	remaining: 9.38s
65:	learn: 56.3525991	total: 654ms	remaining: 9.26s
66:	learn: 55.8758066	total: 667ms	remaining: 9.28s
67:	learn: 55.4846972	total: 682ms	remaining: 9.35s
68:	learn: 55.1033363	total: 684ms	remaining: 9.23s
69:	learn: 54.7447525	total: 687ms	remaining: 9.12s
70:	learn: 54.3371774	total: 689ms	remaining: 9.01s
71:	learn: 53.9156403	total: 691ms	remaining: 8.91s
72:	learn: 53.5511097	total: 694ms	remaining: 8.81s
73:	learn: 53.2273157	total: 696ms	remaining: 8.7s
74:	learn: 52.9467210	total: 698ms	remaining: 8.61s
75:	learn: 52.5263659	total: 712ms	remaining: 8.66s
76:	learn: 52.2563980	total: 714ms	remaining: 8.56s
77:	learn: 51.9941163	total: 717ms	remaining: 8.47s
78:	learn: 51.7198297	total: 719ms	remaining: 8.38s
79:	learn: 51.4556763	total: 721ms	remaining: 8.29s
80:	learn: 51.0197006	total: 723ms	remaining: 8.2s
81:	learn: 50.7871620	total: 725ms	remaining: 8.12s
82:	learn: 50.2566610	total: 728ms	remaining: 8.04s
83:	learn: 49.8792139	total: 730ms	remaining: 7.96s
84:	learn: 49.6659355	total: 732ms	remaining: 7.88s
85:	learn: 49.4410384	total: 734ms	remaining: 7.8s
86:	learn: 49.2143605	total: 743ms	remaining: 7.8s
87:	learn: 48.9274676	total: 745ms	remaining: 7.72s
88:	learn: 48.5376400	total: 747ms	remaining: 7.65s
89:	learn: 48.3793002	total: 749ms	remaining: 7.58s
90:	learn: 48.0201823	total: 751ms	remaining: 7.5s
91:	learn: 47.8381761	total: 753ms	remaining: 7.43s
92:	learn: 47.6191024	total: 755ms	remaining: 7.37s
93:	learn: 47.3975458	total: 758ms	remaining: 7.3s
94:	learn: 47.0132844	total: 760ms	remaining: 7.24s
95:	learn: 46.8220486	total: 763ms	remaining: 7.18s
96:	learn: 46.5562609	total: 765ms	remaining: 7.12s
97:	learn: 46.3831091	total: 767ms	remaining: 7.06s
98:	learn: 46.1630706	total: 770ms	remaining: 7s
99:	learn: 45.7544017	total: 772ms	remaining: 6.95s
100:	learn: 45.4441989	total: 775ms	remaining: 6.9s
101:	learn: 45.2989368	total: 778ms	remaining: 6.85s
102:	learn: 45.1405197	total: 781ms	remaining: 6.8s
103:	learn: 44.9621814	total: 784ms	remaining: 6.75s
104:	learn: 44.8574138	total: 788ms	remaining: 6.72s
105:	learn: 44.6994611	total: 791ms	remaining: 6.67s
106:	learn: 44.5734871	total: 795ms	remaining: 6.63s
107:	learn: 44.4182600	total: 797ms	remaining: 6.58s
108:	learn: 44.2879190	total: 800ms	remaining: 6.54s
109:	learn: 44.1668445	total: 802ms	remaining: 6.49s
110:	learn: 43.9812911	total: 805ms	remaining: 6.44s
111:	learn: 43.8132892	total: 808ms	remaining: 6.4s
112:	learn: 43.6212545	total: 811ms	remaining: 6.36s
113:	learn: 43.5236186	total: 813ms	remaining: 6.32s
114:	learn: 43.4512398	total: 815ms	remaining: 6.27s
115:	learn: 43.3091132	total: 817ms	remaining: 6.23s
116:	learn: 43.1708332	total: 820ms	remaining: 6.18s
117:	learn: 43.0362643	total: 831ms	remaining: 6.21s
118:	learn: 42.8943493	total: 833ms	remaining: 6.17s
119:	learn: 42.7763903	total: 836ms	remaining: 6.13s
120:	learn: 42.5914002	total: 838ms	remaining: 6.09s
121:	learn: 42.4919657	total: 841ms	remaining: 6.05s
122:	learn: 42.3148748	total: 843ms	remaining: 6.01s
123:	learn: 42.1990807	total: 846ms	remaining: 5.97s
124:	learn: 42.0632567	total: 848ms	remaining: 5.93s
125:	learn: 41.9046220	total: 862ms	remaining: 5.97s
126:	learn: 41.8400839	total: 864ms	remaining: 5.94s
127:	learn: 41.7560479	total: 866ms	remaining: 5.9s
128:	learn: 41.6073054	total: 868ms	remaining: 5.86s
129:	learn: 41.3670309	total: 870ms	remaining: 5.82s
130:	learn: 41.3013139	total: 873ms	remaining: 5.79s
131:	learn: 41.1561529	total: 876ms	remaining: 5.76s
132:	learn: 40.8735443	total: 878ms	remaining: 5.72s
133:	learn: 40.7561885	total: 880ms	remaining: 5.69s
134:	learn: 40.6053199	total: 882ms	remaining: 5.65s
135:	learn: 40.4922404	total: 884ms	remaining: 5.62s
136:	learn: 40.4054337	total: 886ms	remaining: 5.58s
137:	learn: 40.2662341	total: 889ms	remaining: 5.55s
138:	learn: 40.1008510	total: 891ms	remaining: 5.52s
139:	learn: 39.9843668	total: 893ms	remaining: 5.49s
140:	learn: 39.8213273	total: 895ms	remaining: 5.46s
141:	learn: 39.7435920	total: 898ms	remaining: 5.42s
142:	learn: 39.6530629	total: 900ms	remaining: 5.39s
143:	learn: 39.5835617	total: 902ms	remaining: 5.36s
144:	learn: 39.5163635	total: 905ms	remaining: 5.33s
145:	learn: 39.4215622	total: 907ms	remaining: 5.3s
146:	learn: 39.3454780	total: 909ms	remaining: 5.28s
147:	learn: 39.2923623	total: 912ms	remaining: 5.25s
148:	learn: 39.0471529	total: 914ms	remaining: 5.22s
149:	learn: 38.9699425	total: 917ms	remaining: 5.19s
150:	learn: 38.9094151	total: 919ms	remaining: 5.17s
151:	learn: 38.8259847	total: 921ms	remaining: 5.14s
152:	learn: 38.7034654	total: 923ms	remaining: 5.11s
153:	learn: 38.6431752	total: 936ms	remaining: 5.14s
154:	learn: 38.5967677	total: 938ms	remaining: 5.12s
155:	learn: 38.5232411	total: 940ms	remaining: 5.09s
156:	learn: 38.4696566	total: 952ms	remaining: 5.11s
157:	learn: 38.3616183	total: 954ms	remaining: 5.08s
158:	learn: 38.3071694	total: 956ms	remaining: 5.06s
159:	learn: 38.2484031	total: 959ms	remaining: 5.03s
160:	learn: 38.1120564	total: 961ms	remaining: 5.01s
161:	learn: 38.0163411	total: 964ms	remaining: 4.98s
162:	learn: 37.9469361	total: 966ms	remaining: 4.96s
163:	learn: 37.8454992	total: 968ms	remaining: 4.93s
164:	learn: 37.7435182	total: 971ms	remaining: 4.91s
165:	learn: 37.7022750	total: 973ms	remaining: 4.89s
166:	learn: 37.6434395	total: 976ms	remaining: 4.87s
167:	learn: 37.5878602	total: 978ms	remaining: 4.84s
168:	learn: 37.4509403	total: 980ms	remaining: 4.82s
169:	learn: 37.3804700	total: 983ms	remaining: 4.8s
170:	learn: 37.3446287	total: 993ms	remaining: 4.82s
171:	learn: 37.2582961	total: 996ms	remaining: 4.79s
172:	learn: 37.2138093	total: 998ms	remaining: 4.77s
173:	learn: 37.1703555	total: 1s	remaining: 4.75s
174:	learn: 37.1313907	total: 1s	remaining: 4.72s
175:	learn: 37.0618884	total: 1.01s	remaining: 4.72s
176:	learn: 36.9883189	total: 1.01s	remaining: 4.7s
177:	learn: 36.8917378	total: 1.01s	remaining: 4.67s
178:	learn: 36.8475938	total: 1.03s	remaining: 4.73s
179:	learn: 36.7987398	total: 1.03s	remaining: 4.71s
180:	learn: 36.7350153	total: 1.04s	remaining: 4.69s
181:	learn: 36.6968628	total: 1.04s	remaining: 4.67s
182:	learn: 36.4779196	total: 1.04s	remaining: 4.65s
183:	learn: 36.2793169	total: 1.05s	remaining: 4.64s
184:	learn: 36.2032739	total: 1.06s	remaining: 4.68s
185:	learn: 36.1291419	total: 1.08s	remaining: 4.71s
186:	learn: 36.0654628	total: 1.08s	remaining: 4.69s
187:	learn: 36.0075402	total: 1.08s	remaining: 4.67s
188:	learn: 35.8847344	total: 1.08s	remaining: 4.65s
189:	learn: 35.8497060	total: 1.09s	remaining: 4.63s
190:	learn: 35.7941501	total: 1.09s	remaining: 4.61s
191:	learn: 35.7632967	total: 1.09s	remaining: 4.59s
192:	learn: 35.7299489	total: 1.09s	remaining: 4.57s
193:	learn: 35.6694409	total: 1.09s	remaining: 4.55s
194:	learn: 35.6219490	total: 1.1s	remaining: 4.53s
195:	learn: 35.5903133	total: 1.11s	remaining: 4.55s

196:	learn: 35.4450259	total: 1.11s	remaining: 4.54s
197:	learn: 35.3440471	total: 1.11s	remaining: 4.52s
198:	learn: 35.3129244	total: 1.12s	remaining: 4.5s
199:	learn: 35.2827155	total: 1.12s	remaining: 4.48s
200:	learn: 35.1906420	total: 1.12s	remaining: 4.46s
201:	learn: 35.1158024	total: 1.12s	remaining: 4.44s
202:	learn: 35.0340688	total: 1.13s	remaining: 4.42s
203:	learn: 34.9387941	total: 1.13s	remaining: 4.41s
204:	learn: 34.8422664	total: 1.14s	remaining: 4.42s
205:	learn: 34.7559757	total: 1.14s	remaining: 4.41s
206:	learn: 34.6708701	total: 1.15s	remaining: 4.39s
207:	learn: 34.6117186	total: 1.15s	remaining: 4.37s
208:	learn: 34.5815925	total: 1.15s	remaining: 4.35s
209:	learn: 34.5569773	total: 1.15s	remaining: 4.33s
210:	learn: 34.5254523	total: 1.15s	remaining: 4.32s
211:	learn: 34.4963089	total: 1.16s	remaining: 4.3s
212:	learn: 34.4405235	total: 1.16s	remaining: 4.28s
213:	learn: 34.3521872	total: 1.17s	remaining: 4.3s
214:	learn: 34.2705410	total: 1.17s	remaining: 4.28s
215:	learn: 34.2127518	total: 1.18s	remaining: 4.27s
216:	learn: 34.1884369	total: 1.18s	remaining: 4.25s
217:	learn: 34.1242885	total: 1.18s	remaining: 4.23s
218:	learn: 34.0912991	total: 1.18s	remaining: 4.22s
219:	learn: 34.0477825	total: 1.18s	remaining: 4.2s
220:	learn: 33.9627294	total: 1.19s	remaining: 4.18s
221:	learn: 33.9014841	total: 1.19s	remaining: 4.17s
222:	learn: 33.8754757	total: 1.19s	remaining: 4.15s
223:	learn: 33.8504082	total: 1.19s	remaining: 4.14s
224:	learn: 33.7557045	total: 1.2s	remaining: 4.12s
225:	learn: 33.6608282	total: 1.2s	remaining: 4.11s
226:	learn: 33.6313457	total: 1.2s	remaining: 4.09s
227:	learn: 33.5426810	total: 1.2s	remaining: 4.08s
228:	learn: 33.5197746	total: 1.21s	remaining: 4.06s
229:	learn: 33.4998995	total: 1.21s	remaining: 4.04s
230:	learn: 33.4681259	total: 1.21s	remaining: 4.03s
231:	learn: 33.4335568	total: 1.22s	remaining: 4.05s
232:	learn: 33.3956040	total: 1.23s	remaining: 4.05s
233:	learn: 33.3043822	total: 1.24s	remaining: 4.05s
234:	learn: 33.2250274	total: 1.24s	remaining: 4.04s
235:	learn: 33.1943068	total: 1.24s	remaining: 4.03s
236:	learn: 33.1116190	total: 1.25s	remaining: 4.02s
237:	learn: 33.0479535	total: 1.25s	remaining: 4s
238:	learn: 32.9825211	total: 1.25s	remaining: 3.99s
239:	learn: 32.9593474	total: 1.26s	remaining: 3.98s
240:	learn: 32.8819294	total: 1.26s	remaining: 3.97s
241:	learn: 32.8221258	total: 1.27s	remaining: 3.98s
242:	learn: 32.7508832	total: 1.29s	remaining: 4.01s
243:	learn: 32.7198851	total: 1.29s	remaining: 4.01s
244:	learn: 32.6887007	total: 1.3s	remaining: 4.01s
245:	learn: 32.6412469	total: 1.31s	remaining: 4.01s
246:	learn: 32.6005725	total: 1.31s	remaining: 4s
247:	learn: 32.5752638	total: 1.32s	remaining: 3.99s
248:	learn: 32.5451237	total: 1.32s	remaining: 3.98s
249:	learn: 32.5162517	total: 1.34s	remaining: 4.01s
250:	learn: 32.4376114	total: 1.34s	remaining: 4.01s
251:	learn: 32.3562874	total: 1.35s	remaining: 4.01s
252:	learn: 32.3235331	total: 1.35s	remaining: 4s
253:	learn: 32.2926645	total: 1.36s	remaining: 3.99s
254:	learn: 32.2720907	total: 1.36s	remaining: 3.98s
255:	learn: 32.2138384	total: 1.37s	remaining: 3.97s
256:	learn: 32.1839981	total: 1.39s	remaining: 4.01s
257:	learn: 32.1125387	total: 1.4s	remaining: 4.01s
258:	learn: 32.0807472	total: 1.4s	remaining: 4.01s
259:	learn: 32.0518388	total: 1.41s	remaining: 4.01s
260:	learn: 32.0041331	total: 1.41s	remaining: 4s
261:	learn: 31.9430468	total: 1.44s	remaining: 4.05s
262:	learn: 31.8896299	total: 1.45s	remaining: 4.05s
263:	learn: 31.8719612	total: 1.46s	remaining: 4.06s
264:	learn: 31.8059385	total: 1.46s	remaining: 4.06s
265:	learn: 31.7803229	total: 1.48s	remaining: 4.08s
266:	learn: 31.7464168	total: 1.48s	remaining: 4.07s
267:	learn: 31.6891484	total: 1.49s	remaining: 4.06s
268:	learn: 31.6646989	total: 1.5s	remaining: 4.09s
269:	learn: 31.6454017	total: 1.51s	remaining: 4.08s
270:	learn: 31.5966653	total: 1.51s	remaining: 4.06s
271:	learn: 31.5720947	total: 1.51s	remaining: 4.05s
272:	learn: 31.5223467	total: 1.51s	remaining: 4.03s
273:	learn: 31.5071355	total: 1.52s	remaining: 4.02s
274:	learn: 31.4848791	total: 1.53s	remaining: 4.03s
275:	learn: 31.4628692	total: 1.53s	remaining: 4.01s
276:	learn: 31.4113604	total: 1.53s	remaining: 4s
277:	learn: 31.3942408	total: 1.53s	remaining: 3.99s
278:	learn: 31.3513969	total: 1.54s	remaining: 3.97s
279:	learn: 31.3359782	total: 1.54s	remaining: 3.96s
280:	learn: 31.2902409	total: 1.54s	remaining: 3.94s
281:	learn: 31.2692813	total: 1.54s	remaining: 3.93s
282:	learn: 31.2445072	total: 1.55s	remaining: 3.92s
283:	learn: 31.2009444	total: 1.55s	remaining: 3.9s
284:	learn: 31.1492228	total: 1.56s	remaining: 3.92s
285:	learn: 31.1333101	total: 1.57s	remaining: 3.91s
286:	learn: 31.1103811	total: 1.57s	remaining: 3.9s
287:	learn: 31.0904715	total: 1.57s	remaining: 3.88s
288:	learn: 31.0516113	total: 1.57s	remaining: 3.87s
289:	learn: 31.0324373	total: 1.57s	remaining: 3.86s
290:	learn: 30.9900399	total: 1.58s	remaining: 3.84s
291:	learn: 30.9659846	total: 1.58s	remaining: 3.83s
292:	learn: 30.9238270	total: 1.59s	remaining: 3.85s
293:	learn: 30.8918280	total: 1.6s	remaining: 3.84s
294:	learn: 30.8352579	total: 1.61s	remaining: 3.85s
295:	learn: 30.7773264	total: 1.61s	remaining: 3.84s
296:	learn: 30.7619332	total: 1.61s	remaining: 3.82s
297:	learn: 30.7351305	total: 1.62s	remaining: 3.81s
298:	learn: 30.7175836	total: 1.62s	remaining: 3.8s
299:	learn: 30.6996925	total: 1.62s	remaining: 3.78s
300:	learn: 30.6622658	total: 1.62s	remaining: 3.77s
301:	learn: 30.6411136	total: 1.63s	remaining: 3.76s
302:	learn: 30.6267167	total: 1.63s	remaining: 3.75s
303:	learn: 30.5981245	total: 1.63s	remaining: 3.73s
304:	learn: 30.5641211	total: 1.63s	remaining: 3.72s
305:	learn: 30.5124104	total: 1.63s	remaining: 3.71s
306:	learn: 30.4956832	total: 1.64s	remaining: 3.69s
307:	learn: 30.4575453	total: 1.64s	remaining: 3.68s
308:	learn: 30.4307164	total: 1.64s	remaining: 3.67s
309:	learn: 30.3948259	total: 1.64s	remaining: 3.66s
310:	learn: 30.3722790	total: 1.65s	remaining: 3.65s
311:	learn: 30.3478106	total: 1.65s	remaining: 3.63s
312:	learn: 30.3268577	total: 1.65s	remaining: 3.62s
313:	learn: 30.2900149	total: 1.65s	remaining: 3.61s
314:	learn: 30.2503377	total: 1.66s	remaining: 3.6s
315:	learn: 30.2142366	total: 1.66s	remaining: 3.59s
316:	learn: 30.2050863	total: 1.66s	remaining: 3.58s
317:	learn: 30.1783262	total: 1.66s	remaining: 3.56s
318:	learn: 30.1615600	total: 1.66s	remaining: 3.55s
319:	learn: 30.1083847	total: 1.67s	remaining: 3.54s
320:	learn: 30.0836322	total: 1.67s	remaining: 3.53s
321:	learn: 30.0737572	total: 1.67s	remaining: 3.52s
322:	learn: 30.0653617	total: 1.67s	remaining: 3.51s
323:	learn: 30.0101014	total: 1.68s	remaining: 3.5s
324:	learn: 29.9789067	total: 1.69s	remaining: 3.5s
325:	learn: 29.9609354	total: 1.69s	remaining: 3.49s
326:	learn: 29.9393118	total: 1.69s	remaining: 3.48s
327:	learn: 29.9086345	total: 1.69s	remaining: 3.47s
328:	learn: 29.8921548	total: 1.69s	remaining: 3.46s
329:	learn: 29.8501894	total: 1.7s	remaining: 3.44s
330:	learn: 29.8344186	total: 1.7s	remaining: 3.43s
331:	learn: 29.8131597	total: 1.71s	remaining: 3.45s
332:	learn: 29.7645105	total: 1.72s	remaining: 3.44s
333:	learn: 29.7351890	total: 1.72s	remaining: 3.43s
334:	learn: 29.6850654	total: 1.72s	remaining: 3.42s
335:	learn: 29.6693686	total: 1.73s	remaining: 3.42s
336:	learn: 29.6343022	total: 1.73s	remaining: 3.41s
337:	learn: 29.6149594	total: 1.73s	remaining: 3.4s
338:	learn: 29.5454089	total: 1.74s	remaining: 3.39s
339:	learn: 29.5235754	total: 1.74s	remaining: 3.38s
340:	learn: 29.5053112	total: 1.77s	remaining: 3.42s
341:	learn: 29.4658215	total: 1.77s	remaining: 3.41s
342:	learn: 29.4242715	total: 1.77s	remaining: 3.4s
343:	learn: 29.4076630	total: 1.78s	remaining: 3.39s
344:	learn: 29.3818516	total: 1.78s	remaining: 3.38s
345:	learn: 29.3636273	total: 1.78s	remaining: 3.37s
346:	learn: 29.3519117	total: 1.78s	remaining: 3.36s
347:	learn: 29.3379353	total: 1.79s	remaining: 3.35s
348:	learn: 29.2939924	total: 1.79s	remaining: 3.34s
349:	learn: 29.2766255	total: 1.79s	remaining: 3.33s
350:	learn: 29.2553890	total: 1.79s	remaining: 3.32s
351:	learn: 29.2396560	total: 1.8s	remaining: 3.31s
352:	learn: 29.2310767	total: 1.8s	remaining: 3.3s
353:	learn: 29.2004177	total: 1.8s	remaining: 3.29s
354:	learn: 29.1701347	total: 1.81s	remaining: 3.28s
355:	learn: 29.1632868	total: 1.81s	remaining: 3.27s
356:	learn: 29.1223021	total: 1.82s	remaining: 3.27s
357:	learn: 29.1158686	total: 1.82s	remaining: 3.26s
358:	learn: 29.0855901	total: 1.82s	remaining: 3.25s
359:	learn: 29.0719132	total: 1.82s	remaining: 3.24s
360:	learn: 29.0474286	total: 1.83s	remaining: 3.23s
361:	learn: 29.0343523	total: 1.83s	remaining: 3.23s
362:	learn: 29.0187768	total: 1.85s	remaining: 3.24s

363:	learn: 28.9919302	total: 1.85s	remaining: 3.24s
364:	learn: 28.9831291	total: 1.86s	remaining: 3.23s
365:	learn: 28.9628318	total: 1.86s	remaining: 3.23s
366:	learn: 28.9077185	total: 1.88s	remaining: 3.23s
367:	learn: 28.8878187	total: 1.88s	remaining: 3.23s
368:	learn: 28.8758229	total: 1.89s	remaining: 3.23s
369:	learn: 28.8618754	total: 1.9s	remaining: 3.23s
370:	learn: 28.8384596	total: 1.9s	remaining: 3.23s
371:	learn: 28.7842837	total: 1.92s	remaining: 3.25s
372:	learn: 28.7618431	total: 1.93s	remaining: 3.25s
373:	learn: 28.7242361	total: 1.94s	remaining: 3.25s
374:	learn: 28.6916767	total: 1.95s	remaining: 3.25s
375:	learn: 28.6803474	total: 1.95s	remaining: 3.24s
376:	learn: 28.6214977	total: 1.96s	remaining: 3.24s
377:	learn: 28.6053745	total: 1.96s	remaining: 3.23s
378:	learn: 28.5864069	total: 1.97s	remaining: 3.22s
379:	learn: 28.5549402	total: 1.97s	remaining: 3.21s
380:	learn: 28.5410863	total: 1.97s	remaining: 3.2s
381:	learn: 28.5280299	total: 1.97s	remaining: 3.19s
382:	learn: 28.5143903	total: 1.98s	remaining: 3.19s
383:	learn: 28.5023736	total: 1.98s	remaining: 3.17s
384:	learn: 28.4829544	total: 1.98s	remaining: 3.17s
385:	learn: 28.4713489	total: 1.98s	remaining: 3.16s
386:	learn: 28.4603840	total: 1.99s	remaining: 3.15s
387:	learn: 28.4490402	total: 1.99s	remaining: 3.14s
388:	learn: 28.4176780	total: 1.99s	remaining: 3.13s
389:	learn: 28.3984084	total: 2.01s	remaining: 3.14s
390:	learn: 28.3816162	total: 2.01s	remaining: 3.13s
391:	learn: 28.3695392	total: 2.02s	remaining: 3.13s
392:	learn: 28.3360794	total: 2.02s	remaining: 3.12s
393:	learn: 28.3188250	total: 2.03s	remaining: 3.12s
394:	learn: 28.3069745	total: 2.03s	remaining: 3.11s
395:	learn: 28.2960776	total: 2.05s	remaining: 3.13s
396:	learn: 28.2677702	total: 2.06s	remaining: 3.13s
397:	learn: 28.2484043	total: 2.08s	remaining: 3.14s
398:	learn: 28.2371306	total: 2.08s	remaining: 3.14s
399:	learn: 28.2019968	total: 2.09s	remaining: 3.14s
400:	learn: 28.1709729	total: 2.1s	remaining: 3.13s
401:	learn: 28.1416443	total: 2.1s	remaining: 3.13s
402:	learn: 28.1331133	total: 2.11s	remaining: 3.12s
403:	learn: 28.1191097	total: 2.11s	remaining: 3.11s
404:	learn: 28.0883827	total: 2.12s	remaining: 3.11s
405:	learn: 28.0525955	total: 2.12s	remaining: 3.1s
406:	learn: 28.0261962	total: 2.12s	remaining: 3.09s
407:	learn: 28.0186482	total: 2.14s	remaining: 3.1s
408:	learn: 28.0050113	total: 2.14s	remaining: 3.09s
409:	learn: 27.9771563	total: 2.14s	remaining: 3.08s
410:	learn: 27.9639737	total: 2.15s	remaining: 3.07s
411:	learn: 27.9354949	total: 2.15s	remaining: 3.06s
412:	learn: 27.9243768	total: 2.15s	remaining: 3.05s
413:	learn: 27.8977142	total: 2.15s	remaining: 3.04s
414:	learn: 27.8892133	total: 2.15s	remaining: 3.04s
415:	learn: 27.8660620	total: 2.15s	remaining: 3.03s
416:	learn: 27.8228482	total: 2.16s	remaining: 3.02s
417:	learn: 27.8150337	total: 2.16s	remaining: 3.01s
418:	learn: 27.7915662	total: 2.16s	remaining: 3s
419:	learn: 27.7802098	total: 2.17s	remaining: 3s
420:	learn: 27.7526600	total: 2.18s	remaining: 2.99s
421:	learn: 27.7116775	total: 2.18s	remaining: 2.99s
422:	learn: 27.6958610	total: 2.19s	remaining: 2.98s
423:	learn: 27.6705619	total: 2.2s	remaining: 2.99s
424:	learn: 27.6380590	total: 2.21s	remaining: 2.99s
425:	learn: 27.6169546	total: 2.22s	remaining: 2.99s
426:	learn: 27.6020897	total: 2.23s	remaining: 2.99s
427:	learn: 27.5721095	total: 2.25s	remaining: 3s
428:	learn: 27.5578103	total: 2.25s	remaining: 2.99s
429:	learn: 27.5457585	total: 2.25s	remaining: 2.99s
430:	learn: 27.5074676	total: 2.27s	remaining: 2.99s
431:	learn: 27.4965352	total: 2.27s	remaining: 2.99s
432:	learn: 27.4728249	total: 2.28s	remaining: 2.98s
433:	learn: 27.4488097	total: 2.28s	remaining: 2.98s
434:	learn: 27.4268722	total: 2.29s	remaining: 2.97s
435:	learn: 27.4055243	total: 2.29s	remaining: 2.96s
436:	learn: 27.3646805	total: 2.3s	remaining: 2.96s
437:	learn: 27.3434391	total: 2.31s	remaining: 2.96s
438:	learn: 27.3344301	total: 2.33s	remaining: 2.97s
439:	learn: 27.3178821	total: 2.34s	remaining: 2.98s
440:	learn: 27.2925732	total: 2.35s	remaining: 2.98s
441:	learn: 27.2752281	total: 2.36s	remaining: 2.98s
442:	learn: 27.2509859	total: 2.36s	remaining: 2.97s
443:	learn: 27.2119665	total: 2.37s	remaining: 2.97s
444:	learn: 27.1910484	total: 2.37s	remaining: 2.96s
445:	learn: 27.1819889	total: 2.38s	remaining: 2.95s
446:	learn: 27.1584014	total: 2.38s	remaining: 2.94s
447:	learn: 27.1495898	total: 2.38s	remaining: 2.94s
448:	learn: 27.1377115	total: 2.38s	remaining: 2.93s
449:	learn: 27.1287719	total: 2.4s	remaining: 2.93s
450:	learn: 27.1208697	total: 2.41s	remaining: 2.93s
451:	learn: 27.1105761	total: 2.41s	remaining: 2.92s
452:	learn: 27.0714022	total: 2.42s	remaining: 2.92s
453:	learn: 27.0582882	total: 2.42s	remaining: 2.91s
454:	learn: 27.0433130	total: 2.42s	remaining: 2.9s
455:	learn: 27.0240692	total: 2.45s	remaining: 2.92s
456:	learn: 27.0032467	total: 2.46s	remaining: 2.92s
457:	learn: 26.9944131	total: 2.46s	remaining: 2.91s
458:	learn: 26.9602179	total: 2.47s	remaining: 2.91s
459:	learn: 26.9504809	total: 2.47s	remaining: 2.9s
460:	learn: 26.9377379	total: 2.48s	remaining: 2.89s
461:	learn: 26.9296313	total: 2.48s	remaining: 2.89s
462:	learn: 26.9082802	total: 2.48s	remaining: 2.88s
463:	learn: 26.8990091	total: 2.49s	remaining: 2.87s
464:	learn: 26.8891138	total: 2.52s	remaining: 2.9s
465:	learn: 26.8831496	total: 2.53s	remaining: 2.9s
466:	learn: 26.8611674	total: 2.54s	remaining: 2.9s
467:	learn: 26.8519737	total: 2.55s	remaining: 2.9s
468:	learn: 26.8428568	total: 2.56s	remaining: 2.9s
469:	learn: 26.8198984	total: 2.56s	remaining: 2.89s
470:	learn: 26.8103119	total: 2.57s	remaining: 2.88s
471:	learn: 26.7999382	total: 2.58s	remaining: 2.89s
472:	learn: 26.7840241	total: 2.59s	remaining: 2.89s
473:	learn: 26.7730485	total: 2.6s	remaining: 2.89s
474:	learn: 26.7611958	total: 2.61s	remaining: 2.88s
475:	learn: 26.7450744	total: 2.61s	remaining: 2.87s
476:	learn: 26.7296462	total: 2.62s	remaining: 2.87s
477:	learn: 26.7032697	total: 2.62s	remaining: 2.86s
478:	learn: 26.6927794	total: 2.64s	remaining: 2.88s
479:	learn: 26.6723093	total: 2.65s	remaining: 2.88s
480:	learn: 26.6536305	total: 2.66s	remaining: 2.87s
481:	learn: 26.6352652	total: 2.67s	remaining: 2.87s
482:	learn: 26.6208693	total: 2.67s	remaining: 2.86s
483:	learn: 26.6002330	total: 2.67s	remaining: 2.85s
484:	learn: 26.5814683	total: 2.68s	remaining: 2.85s
485:	learn: 26.5566477	total: 2.68s	remaining: 2.84s
486:	learn: 26.5478089	total: 2.69s	remaining: 2.83s
487:	learn: 26.5319412	total: 2.69s	remaining: 2.82s
488:	learn: 26.5236414	total: 2.7s	remaining: 2.82s
489:	learn: 26.5124458	total: 2.7s	remaining: 2.81s
490:	learn: 26.5016328	total: 2.7s	remaining: 2.8s
491:	learn: 26.4938031	total: 2.72s	remaining: 2.81s
492:	learn: 26.4780036	total: 2.73s	remaining: 2.81s
493:	learn: 26.4669040	total: 2.73s	remaining: 2.8s
494:	learn: 26.4491129	total: 2.74s	remaining: 2.8s
495:	learn: 26.4414693	total: 2.75s	remaining: 2.79s
496:	learn: 26.4316052	total: 2.75s	remaining: 2.78s
497:	learn: 26.4193990	total: 2.75s	remaining: 2.77s
498:	learn: 26.4095856	total: 2.76s	remaining: 2.77s
499:	learn: 26.4033117	total: 2.76s	remaining: 2.76s
500:	learn: 26.3966669	total: 2.76s	remaining: 2.75s
501:	learn: 26.3871268	total: 2.78s	remaining: 2.76s
502:	learn: 26.3820062	total: 2.79s	remaining: 2.75s
503:	learn: 26.3708441	total: 2.8s	remaining: 2.75s
504:	learn: 26.3546593	total: 2.8s	remaining: 2.75s
505:	learn: 26.3409689	total: 2.81s	remaining: 2.74s
506:	learn: 26.3203636	total: 2.81s	remaining: 2.73s
507:	learn: 26.2999793	total: 2.82s	remaining: 2.73s
508:	learn: 26.2935562	total: 2.82s	remaining: 2.72s
509:	learn: 26.2858139	total: 2.82s	remaining: 2.71s
510:	learn: 26.2692236	total: 2.83s	remaining: 2.7s
511:	learn: 26.2633621	total: 2.83s	remaining: 2.7s
512:	learn: 26.2523760	total: 2.83s	remaining: 2.69s
513:	learn: 26.2405561	total: 2.84s	remaining: 2.68s
514:	learn: 26.2338408	total: 2.84s	remaining: 2.67s
515:	learn: 26.2273862	total: 2.85s	remaining: 2.67s
516:	learn: 26.2169068	total: 2.86s	remaining: 2.67s
517:	learn: 26.2004598	total: 2.86s	remaining: 2.66s
518:	learn: 26.1928098	total: 2.87s	remaining: 2.66s
519:	learn: 26.1844940	total: 2.87s	remaining: 2.65s
520:	learn: 26.1738300	total: 2.87s	remaining: 2.64s
521:	learn: 26.1679141	total: 2.88s	remaining: 2.63s
522:	learn: 26.1605120	total: 2.88s	remaining: 2.63s
523:	learn: 26.1517673	total: 2.88s	remaining: 2.62s
524:	learn: 26.1410755	total: 2.88s	remaining: 2.61s
525:	learn: 26.1372227	total: 2.9s	remaining: 2.61s
526:	learn: 26.1267589	total: 2.9s	remaining: 2.6s
527:	learn: 26.1116456	total: 2.91s	remaining: 2.6s
528:	learn: 26.1071479	total: 2.91s	remaining: 2.59s
529:	learn: 26.0846053	total: 2.91s	remaining: 2.58s
530:	learn: 26.0777755	total: 2.94s	remaining: 2.6s
531:	learn: 26.0701530	total: 2.95s	remaining: 2.59s
532:	learn: 26.0489302	total: 2.96s	remaining: 2.59s
533:	learn: 26.0390756	total: 2.96s	remaining: 2.59s
534:	learn: 26.0303561	total: 2.97s	remaining: 2.58s
535:	learn: 26.0209493	total: 2.98s	remaining: 2.58s
536:	learn: 26.0167109	total: 2.98s	remaining: 2.57s

537:	learn: 26.0110941	total: 2.98s	remaining: 2.56s
538:	learn: 26.0036096	total: 2.99s	remaining: 2.56s
539:	learn: 25.9860579	total: 2.99s	remaining: 2.55s
540:	learn: 25.9705860	total: 3s	remaining: 2.54s
541:	learn: 25.9546122	total: 3s	remaining: 2.53s
542:	learn: 25.9491597	total: 3s	remaining: 2.53s
543:	learn: 25.9409575	total: 3.01s	remaining: 2.52s
544:	learn: 25.9330367	total: 3.01s	remaining: 2.51s
545:	learn: 25.9220319	total: 3.03s	remaining: 2.52s
546:	learn: 25.9012416	total: 3.04s	remaining: 2.52s
547:	learn: 25.8944857	total: 3.05s	remaining: 2.52s
548:	learn: 25.8851087	total: 3.06s	remaining: 2.51s
549:	learn: 25.8643164	total: 3.06s	remaining: 2.5s
550:	learn: 25.8476229	total: 3.08s	remaining: 2.51s
551:	learn: 25.8431848	total: 3.09s	remaining: 2.51s
552:	learn: 25.8274198	total: 3.11s	remaining: 2.52s
553:	learn: 25.8201081	total: 3.12s	remaining: 2.51s
554:	learn: 25.8159125	total: 3.15s	remaining: 2.52s
555:	learn: 25.8117946	total: 3.16s	remaining: 2.52s
556:	learn: 25.8059025	total: 3.17s	remaining: 2.52s
557:	learn: 25.7984410	total: 3.18s	remaining: 2.52s
558:	learn: 25.7913405	total: 3.19s	remaining: 2.51s
559:	learn: 25.7837779	total: 3.19s	remaining: 2.51s
560:	learn: 25.7780998	total: 3.19s	remaining: 2.5s
561:	learn: 25.7719271	total: 3.2s	remaining: 2.49s
562:	learn: 25.7624476	total: 3.2s	remaining: 2.49s
563:	learn: 25.7510240	total: 3.21s	remaining: 2.48s
564:	learn: 25.7357261	total: 3.21s	remaining: 2.47s
565:	learn: 25.7260486	total: 3.21s	remaining: 2.46s
566:	learn: 25.7204915	total: 3.21s	remaining: 2.45s
567:	learn: 25.6944608	total: 3.22s	remaining: 2.45s
568:	learn: 25.6841611	total: 3.22s	remaining: 2.44s
569:	learn: 25.6777560	total: 3.22s	remaining: 2.43s
570:	learn: 25.6706626	total: 3.24s	remaining: 2.43s
571:	learn: 25.6524935	total: 3.24s	remaining: 2.43s
572:	learn: 25.6367136	total: 3.25s	remaining: 2.42s
573:	learn: 25.6279450	total: 3.25s	remaining: 2.41s
574:	learn: 25.6118645	total: 3.26s	remaining: 2.41s
575:	learn: 25.6032133	total: 3.26s	remaining: 2.4s
576:	learn: 25.5982067	total: 3.26s	remaining: 2.39s
577:	learn: 25.5879038	total: 3.27s	remaining: 2.39s
578:	learn: 25.5802930	total: 3.3s	remaining: 2.4s
579:	learn: 25.5760421	total: 3.31s	remaining: 2.39s
580:	learn: 25.5703335	total: 3.31s	remaining: 2.39s
581:	learn: 25.5647714	total: 3.33s	remaining: 2.39s
582:	learn: 25.5505787	total: 3.33s	remaining: 2.38s
583:	learn: 25.5360225	total: 3.34s	remaining: 2.38s
584:	learn: 25.5187471	total: 3.34s	remaining: 2.37s
585:	learn: 25.5130247	total: 3.35s	remaining: 2.36s
586:	learn: 25.5059068	total: 3.35s	remaining: 2.35s
587:	learn: 25.4923784	total: 3.35s	remaining: 2.35s
588:	learn: 25.4871882	total: 3.35s	remaining: 2.34s
589:	learn: 25.4714637	total: 3.37s	remaining: 2.34s
590:	learn: 25.4619532	total: 3.38s	remaining: 2.34s
591:	learn: 25.4535695	total: 3.39s	remaining: 2.34s
592:	learn: 25.4464982	total: 3.4s	remaining: 2.33s
593:	learn: 25.4385326	total: 3.4s	remaining: 2.33s
594:	learn: 25.4302648	total: 3.4s	remaining: 2.32s
595:	learn: 25.4198146	total: 3.41s	remaining: 2.31s
596:	learn: 25.4157627	total: 3.41s	remaining: 2.3s
597:	learn: 25.4027170	total: 3.42s	remaining: 2.3s
598:	learn: 25.3986068	total: 3.42s	remaining: 2.29s
599:	learn: 25.3888347	total: 3.44s	remaining: 2.29s
600:	learn: 25.3773351	total: 3.44s	remaining: 2.29s
601:	learn: 25.3632518	total: 3.45s	remaining: 2.28s
602:	learn: 25.3596305	total: 3.45s	remaining: 2.27s
603:	learn: 25.3526960	total: 3.45s	remaining: 2.27s
604:	learn: 25.3362598	total: 3.47s	remaining: 2.27s
605:	learn: 25.3236681	total: 3.48s	remaining: 2.26s
606:	learn: 25.3114589	total: 3.48s	remaining: 2.25s
607:	learn: 25.2958825	total: 3.49s	remaining: 2.25s
608:	learn: 25.2853219	total: 3.49s	remaining: 2.24s
609:	learn: 25.2670922	total: 3.5s	remaining: 2.23s
610:	learn: 25.2537368	total: 3.5s	remaining: 2.23s
611:	learn: 25.2415478	total: 3.5s	remaining: 2.22s
612:	learn: 25.2368899	total: 3.5s	remaining: 2.21s
613:	learn: 25.2167471	total: 3.51s	remaining: 2.2s
614:	learn: 25.2073283	total: 3.51s	remaining: 2.2s
615:	learn: 25.1979923	total: 3.51s	remaining: 2.19s
616:	learn: 25.1896188	total: 3.51s	remaining: 2.18s
617:	learn: 25.1690844	total: 3.54s	remaining: 2.19s
618:	learn: 25.1633344	total: 3.54s	remaining: 2.18s
619:	learn: 25.1451572	total: 3.55s	remaining: 2.18s
620:	learn: 25.1301200	total: 3.56s	remaining: 2.17s
621:	learn: 25.1165597	total: 3.57s	remaining: 2.17s
622:	learn: 25.1071756	total: 3.57s	remaining: 2.16s
623:	learn: 25.0984106	total: 3.57s	remaining: 2.15s
624:	learn: 25.0869542	total: 3.58s	remaining: 2.15s
625:	learn: 25.0819600	total: 3.58s	remaining: 2.14s
626:	learn: 25.0733518	total: 3.58s	remaining: 2.13s
627:	learn: 25.0650739	total: 3.6s	remaining: 2.13s
628:	learn: 25.0545860	total: 3.6s	remaining: 2.12s
629:	learn: 25.0447210	total: 3.61s	remaining: 2.12s
630:	learn: 25.0331750	total: 3.63s	remaining: 2.12s
631:	learn: 25.0143876	total: 3.65s	remaining: 2.12s
632:	learn: 25.0077854	total: 3.65s	remaining: 2.12s
633:	learn: 25.0008901	total: 3.68s	remaining: 2.13s
634:	learn: 24.9932553	total: 3.69s	remaining: 2.12s
635:	learn: 24.9874044	total: 3.7s	remaining: 2.12s
636:	learn: 24.9735443	total: 3.71s	remaining: 2.12s
637:	learn: 24.9656046	total: 3.72s	remaining: 2.11s
638:	learn: 24.9591601	total: 3.73s	remaining: 2.1s
639:	learn: 24.9437607	total: 3.73s	remaining: 2.1s
640:	learn: 24.9361949	total: 3.73s	remaining: 2.09s
641:	learn: 24.9251126	total: 3.74s	remaining: 2.08s
642:	learn: 24.9177230	total: 3.74s	remaining: 2.08s
643:	learn: 24.9108027	total: 3.75s	remaining: 2.07s
644:	learn: 24.8979608	total: 3.75s	remaining: 2.06s
645:	learn: 24.8755409	total: 3.75s	remaining: 2.06s
646:	learn: 24.8501022	total: 3.75s	remaining: 2.05s
647:	learn: 24.8449108	total: 3.77s	remaining: 2.05s
648:	learn: 24.8329861	total: 3.79s	remaining: 2.05s
649:	learn: 24.8236116	total: 3.79s	remaining: 2.04s
650:	learn: 24.8159446	total: 3.8s	remaining: 2.04s
651:	learn: 24.8082444	total: 3.82s	remaining: 2.04s
652:	learn: 24.8000282	total: 3.83s	remaining: 2.04s
653:	learn: 24.7910289	total: 3.85s	remaining: 2.03s
654:	learn: 24.7864969	total: 3.85s	remaining: 2.03s
655:	learn: 24.7645674	total: 3.85s	remaining: 2.02s
656:	learn: 24.7601064	total: 3.86s	remaining: 2.01s
657:	learn: 24.7556409	total: 3.86s	remaining: 2s
658:	learn: 24.7371176	total: 3.86s	remaining: 2s
659:	learn: 24.7328798	total: 3.87s	remaining: 1.99s
660:	learn: 24.7162658	total: 3.87s	remaining: 1.98s
661:	learn: 24.7075469	total: 3.87s	remaining: 1.98s
662:	learn: 24.6991816	total: 3.88s	remaining: 1.97s
663:	learn: 24.6926825	total: 3.88s	remaining: 1.96s
664:	learn: 24.6841605	total: 3.88s	remaining: 1.96s
665:	learn: 24.6800550	total: 3.88s	remaining: 1.95s
666:	learn: 24.6709053	total: 3.88s	remaining: 1.94s
667:	learn: 24.6540921	total: 3.89s	remaining: 1.93s
668:	learn: 24.6501662	total: 3.89s	remaining: 1.92s
669:	learn: 24.6441935	total: 3.89s	remaining: 1.92s
670:	learn: 24.6411009	total: 3.89s	remaining: 1.91s
671:	learn: 24.6357737	total: 3.9s	remaining: 1.9s
672:	learn: 24.6244859	total: 3.9s	remaining: 1.89s
673:	learn: 24.6117762	total: 3.92s	remaining: 1.9s
674:	learn: 24.6015374	total: 3.93s	remaining: 1.89s
675:	learn: 24.5975541	total: 3.94s	remaining: 1.89s
676:	learn: 24.5906881	total: 3.94s	remaining: 1.88s
677:	learn: 24.5843239	total: 3.95s	remaining: 1.88s
678:	learn: 24.5764610	total: 3.95s	remaining: 1.87s
679:	learn: 24.5649993	total: 3.96s	remaining: 1.86s
680:	learn: 24.5539743	total: 3.96s	remaining: 1.86s
681:	learn: 24.5486796	total: 3.98s	remaining: 1.86s
682:	learn: 24.5389583	total: 3.99s	remaining: 1.85s
683:	learn: 24.5340894	total: 4.01s	remaining: 1.85s
684:	learn: 24.5274016	total: 4.02s	remaining: 1.85s
685:	learn: 24.5204783	total: 4.03s	remaining: 1.85s
686:	learn: 24.5054982	total: 4.04s	remaining: 1.84s
687:	learn: 24.4948617	total: 4.05s	remaining: 1.84s
688:	learn: 24.4858069	total: 4.05s	remaining: 1.83s
689:	learn: 24.4802033	total: 4.09s	remaining: 1.84s
690:	learn: 24.4676216	total: 4.1s	remaining: 1.83s
691:	learn: 24.4622996	total: 4.11s	remaining: 1.83s
692:	learn: 24.4529635	total: 4.12s	remaining: 1.83s
693:	learn: 24.4470880	total: 4.13s	remaining: 1.82s
694:	learn: 24.4315964	total: 4.13s	remaining: 1.81s
695:	learn: 24.4233666	total: 4.14s	remaining: 1.81s
696:	learn: 24.4110472	total: 4.14s	remaining: 1.8s
697:	learn: 24.4056287	total: 4.15s	remaining: 1.79s
698:	learn: 24.3976271	total: 4.17s	remaining: 1.79s
699:	learn: 24.3904930	total: 4.18s	remaining: 1.79s
700:	learn: 24.3854229	total: 4.18s	remaining: 1.78s
701:	learn: 24.3680267	total: 4.19s	remaining: 1.78s
702:	learn: 24.3576896	total: 4.19s	remaining: 1.77s
703:	learn: 24.3498699	total: 4.2s	remaining: 1.76s
704:	learn: 24.3424478	total: 4.2s	remaining: 1.76s
705:	learn: 24.3380011	total: 4.22s	remaining: 1.76s
706:	learn: 24.3324591	total: 4.23s	remaining: 1.75s
707:	learn: 24.3283560	total: 4.26s	remaining: 1.76s
708:	learn: 24.3235157	total: 4.27s	remaining: 1.75s
709:	learn: 24.3178706	total: 4.28s	remaining: 1.75s
710:	learn: 24.3140387	total: 4.29s	remaining: 1.75s

711:	learn: 24.3066305	total: 4.3s	remaining: 1.74s
712:	learn: 24.2996028	total: 4.31s	remaining: 1.73s
713:	learn: 24.2936319	total: 4.31s	remaining: 1.73s
714:	learn: 24.2876186	total: 4.32s	remaining: 1.72s
715:	learn: 24.2821861	total: 4.32s	remaining: 1.71s
716:	learn: 24.2775705	total: 4.32s	remaining: 1.71s
717:	learn: 24.2728005	total: 4.34s	remaining: 1.7s
718:	learn: 24.2665515	total: 4.34s	remaining: 1.7s
719:	learn: 24.2616512	total: 4.35s	remaining: 1.69s
720:	learn: 24.2563940	total: 4.35s	remaining: 1.68s
721:	learn: 24.2495202	total: 4.36s	remaining: 1.68s
722:	learn: 24.2413875	total: 4.36s	remaining: 1.67s
723:	learn: 24.2333189	total: 4.38s	remaining: 1.67s
724:	learn: 24.2283056	total: 4.39s	remaining: 1.67s
725:	learn: 24.2147425	total: 4.4s	remaining: 1.66s
726:	learn: 24.2044979	total: 4.41s	remaining: 1.66s
727:	learn: 24.1984641	total: 4.41s	remaining: 1.65s
728:	learn: 24.1910281	total: 4.42s	remaining: 1.64s
729:	learn: 24.1853431	total: 4.42s	remaining: 1.64s
730:	learn: 24.1799329	total: 4.43s	remaining: 1.63s
731:	learn: 24.1765739	total: 4.43s	remaining: 1.62s
732:	learn: 24.1728674	total: 4.45s	remaining: 1.62s
733:	learn: 24.1659388	total: 4.45s	remaining: 1.61s
734:	learn: 24.1592344	total: 4.46s	remaining: 1.61s
735:	learn: 24.1521632	total: 4.46s	remaining: 1.6s
736:	learn: 24.1468619	total: 4.46s	remaining: 1.59s
737:	learn: 24.1418297	total: 4.46s	remaining: 1.58s
738:	learn: 24.1343385	total: 4.47s	remaining: 1.58s
739:	learn: 24.1271019	total: 4.47s	remaining: 1.57s
740:	learn: 24.1213748	total: 4.47s	remaining: 1.56s
741:	learn: 24.1036032	total: 4.47s	remaining: 1.55s
742:	learn: 24.0989383	total: 4.49s	remaining: 1.55s
743:	learn: 24.0931361	total: 4.5s	remaining: 1.55s
744:	learn: 24.0815519	total: 4.5s	remaining: 1.54s
745:	learn: 24.0726850	total: 4.51s	remaining: 1.53s
746:	learn: 24.0697570	total: 4.51s	remaining: 1.53s
747:	learn: 24.0645122	total: 4.52s	remaining: 1.52s
748:	learn: 24.0537860	total: 4.52s	remaining: 1.51s
749:	learn: 24.0463443	total: 4.55s	remaining: 1.51s
750:	learn: 24.0402826	total: 4.56s	remaining: 1.51s
751:	learn: 24.0369892	total: 4.57s	remaining: 1.51s
752:	learn: 24.0313761	total: 4.57s	remaining: 1.5s
753:	learn: 24.0221572	total: 4.58s	remaining: 1.49s
754:	learn: 24.0180430	total: 4.59s	remaining: 1.49s
755:	learn: 24.0142996	total: 4.59s	remaining: 1.48s
756:	learn: 24.0053486	total: 4.6s	remaining: 1.48s
757:	learn: 23.9953347	total: 4.6s	remaining: 1.47s
758:	learn: 23.9911897	total: 4.62s	remaining: 1.47s
759:	learn: 23.9831085	total: 4.63s	remaining: 1.46s
760:	learn: 23.9763453	total: 4.64s	remaining: 1.46s
761:	learn: 23.9690140	total: 4.65s	remaining: 1.45s
762:	learn: 23.9632592	total: 4.66s	remaining: 1.45s
763:	learn: 23.9557427	total: 4.66s	remaining: 1.44s
764:	learn: 23.9516712	total: 4.67s	remaining: 1.43s
765:	learn: 23.9345101	total: 4.67s	remaining: 1.43s
766:	learn: 23.9296217	total: 4.67s	remaining: 1.42s
767:	learn: 23.9231157	total: 4.68s	remaining: 1.41s
768:	learn: 23.9198649	total: 4.68s	remaining: 1.41s
769:	learn: 23.9132452	total: 4.68s	remaining: 1.4s
770:	learn: 23.9065170	total: 4.69s	remaining: 1.39s
771:	learn: 23.9025340	total: 4.69s	remaining: 1.39s
772:	learn: 23.8944142	total: 4.69s	remaining: 1.38s
773:	learn: 23.8906027	total: 4.7s	remaining: 1.37s
774:	learn: 23.8853144	total: 4.7s	remaining: 1.36s
775:	learn: 23.8789384	total: 4.7s	remaining: 1.36s
776:	learn: 23.8740348	total: 4.73s	remaining: 1.36s
777:	learn: 23.8682588	total: 4.74s	remaining: 1.35s
778:	learn: 23.8623033	total: 4.75s	remaining: 1.35s
779:	learn: 23.8571980	total: 4.76s	remaining: 1.34s
780:	learn: 23.8506451	total: 4.76s	remaining: 1.34s
781:	learn: 23.8430983	total: 4.77s	remaining: 1.33s
782:	learn: 23.8405421	total: 4.77s	remaining: 1.32s
783:	learn: 23.8337689	total: 4.78s	remaining: 1.32s
784:	learn: 23.8269964	total: 4.78s	remaining: 1.31s
785:	learn: 23.8228029	total: 4.79s	remaining: 1.3s
786:	learn: 23.8138357	total: 4.8s	remaining: 1.3s
787:	learn: 23.8090028	total: 4.82s	remaining: 1.29s
788:	learn: 23.8029334	total: 4.82s	remaining: 1.29s
789:	learn: 23.7962675	total: 4.83s	remaining: 1.28s
790:	learn: 23.7921506	total: 4.83s	remaining: 1.28s
791:	learn: 23.7842936	total: 4.83s	remaining: 1.27s
792:	learn: 23.7714318	total: 4.86s	remaining: 1.27s
793:	learn: 23.7652108	total: 4.87s	remaining: 1.26s
794:	learn: 23.7608702	total: 4.88s	remaining: 1.26s
795:	learn: 23.7557301	total: 4.89s	remaining: 1.25s
796:	learn: 23.7506752	total: 4.9s	remaining: 1.25s
797:	learn: 23.7419338	total: 4.9s	remaining: 1.24s
798:	learn: 23.7246252	total: 4.9s	remaining: 1.23s
799:	learn: 23.7148936	total: 4.91s	remaining: 1.23s
800:	learn: 23.7098774	total: 4.91s	remaining: 1.22s
801:	learn: 23.7029622	total: 4.91s	remaining: 1.21s
802:	learn: 23.6982872	total: 4.92s	remaining: 1.21s
803:	learn: 23.6925872	total: 4.92s	remaining: 1.2s
804:	learn: 23.6881288	total: 4.92s	remaining: 1.19s
805:	learn: 23.6829921	total: 4.92s	remaining: 1.19s
806:	learn: 23.6772415	total: 4.93s	remaining: 1.18s
807:	learn: 23.6645623	total: 4.96s	remaining: 1.18s
808:	learn: 23.6504904	total: 4.97s	remaining: 1.17s
809:	learn: 23.6475383	total: 4.98s	remaining: 1.17s
810:	learn: 23.6384452	total: 4.99s	remaining: 1.16s
811:	learn: 23.6343076	total: 5s	remaining: 1.16s
812:	learn: 23.6214951	total: 5s	remaining: 1.15s
813:	learn: 23.6146350	total: 5.01s	remaining: 1.14s
814:	learn: 23.6091436	total: 5.01s	remaining: 1.14s
815:	learn: 23.6005027	total: 5.04s	remaining: 1.14s
816:	learn: 23.5941295	total: 5.04s	remaining: 1.13s
817:	learn: 23.5898360	total: 5.06s	remaining: 1.13s
818:	learn: 23.5841089	total: 5.06s	remaining: 1.12s
819:	learn: 23.5796461	total: 5.07s	remaining: 1.11s
820:	learn: 23.5665061	total: 5.07s	remaining: 1.11s
821:	learn: 23.5607535	total: 5.08s	remaining: 1.1s
822:	learn: 23.5560199	total: 5.08s	remaining: 1.09s
823:	learn: 23.5480058	total: 5.08s	remaining: 1.09s
824:	learn: 23.5419112	total: 5.09s	remaining: 1.08s
825:	learn: 23.5308743	total: 5.11s	remaining: 1.08s
826:	learn: 23.5233554	total: 5.12s	remaining: 1.07s
827:	learn: 23.5186125	total: 5.13s	remaining: 1.06s
828:	learn: 23.5126361	total: 5.13s	remaining: 1.06s
829:	learn: 23.5091723	total: 5.14s	remaining: 1.05s
830:	learn: 23.5069528	total: 5.14s	remaining: 1.05s
831:	learn: 23.5006628	total: 5.15s	remaining: 1.04s
832:	learn: 23.4965691	total: 5.15s	remaining: 1.03s
833:	learn: 23.4910835	total: 5.16s	remaining: 1.03s
834:	learn: 23.4860507	total: 5.17s	remaining: 1.02s
835:	learn: 23.4808369	total: 5.17s	remaining: 1.01s
836:	learn: 23.4766931	total: 5.18s	remaining: 1.01s
837:	learn: 23.4725212	total: 5.18s	remaining: 1s
838:	learn: 23.4672876	total: 5.18s	remaining: 995ms
839:	learn: 23.4616405	total: 5.19s	remaining: 989ms
840:	learn: 23.4490871	total: 5.19s	remaining: 982ms
841:	learn: 23.4445406	total: 5.2s	remaining: 975ms
842:	learn: 23.4383407	total: 5.21s	remaining: 970ms
843:	learn: 23.4328145	total: 5.23s	remaining: 966ms
844:	learn: 23.4274136	total: 5.24s	remaining: 961ms
845:	learn: 23.4233294	total: 5.25s	remaining: 955ms
846:	learn: 23.4121500	total: 5.26s	remaining: 950ms
847:	learn: 23.4064190	total: 5.26s	remaining: 943ms
848:	learn: 23.4032220	total: 5.27s	remaining: 937ms
849:	learn: 23.3988278	total: 5.27s	remaining: 930ms
850:	learn: 23.3927662	total: 5.28s	remaining: 924ms
851:	learn: 23.3878745	total: 5.28s	remaining: 917ms
852:	learn: 23.3821727	total: 5.28s	remaining: 910ms
853:	learn: 23.3756789	total: 5.29s	remaining: 904ms
854:	learn: 23.3715922	total: 5.3s	remaining: 899ms
855:	learn: 23.3670944	total: 5.31s	remaining: 893ms
856:	learn: 23.3632308	total: 5.32s	remaining: 887ms
857:	learn: 23.3512951	total: 5.32s	remaining: 881ms
858:	learn: 23.3434106	total: 5.33s	remaining: 874ms
859:	learn: 23.3353277	total: 5.33s	remaining: 868ms
860:	learn: 23.3258324	total: 5.35s	remaining: 863ms
861:	learn: 23.3222043	total: 5.36s	remaining: 858ms
862:	learn: 23.3147939	total: 5.37s	remaining: 852ms
863:	learn: 23.3086985	total: 5.37s	remaining: 845ms
864:	learn: 23.3038905	total: 5.38s	remaining: 839ms
865:	learn: 23.2872613	total: 5.38s	remaining: 832ms
866:	learn: 23.2792997	total: 5.38s	remaining: 826ms
867:	learn: 23.2751553	total: 5.39s	remaining: 819ms
868:	learn: 23.2720838	total: 5.39s	remaining: 812ms
869:	learn: 23.2677767	total: 5.39s	remaining: 806ms
870:	learn: 23.2639989	total: 5.42s	remaining: 803ms
871:	learn: 23.2588504	total: 5.43s	remaining: 797ms
872:	learn: 23.2530030	total: 5.44s	remaining: 792ms
873:	learn: 23.2442115	total: 5.45s	remaining: 786ms

874:	learn: 23.2368974	total: 5.46s	remaining: 780ms
875:	learn: 23.2312073	total: 5.46s	remaining: 773ms
876:	learn: 23.2256754	total: 5.47s	remaining: 767ms
877:	learn: 23.2207520	total: 5.47s	remaining: 760ms
878:	learn: 23.2140062	total: 5.47s	remaining: 754ms
879:	learn: 23.2085611	total: 5.49s	remaining: 749ms
880:	learn: 23.2037478	total: 5.51s	remaining: 744ms
881:	learn: 23.1974262	total: 5.52s	remaining: 739ms
882:	learn: 23.1937381	total: 5.53s	remaining: 733ms
883:	learn: 23.1882619	total: 5.54s	remaining: 727ms
884:	learn: 23.1844814	total: 5.55s	remaining: 721ms
885:	learn: 23.1761212	total: 5.55s	remaining: 715ms
886:	learn: 23.1671061	total: 5.56s	remaining: 708ms
887:	learn: 23.1617947	total: 5.56s	remaining: 702ms
888:	learn: 23.1564907	total: 5.58s	remaining: 697ms
889:	learn: 23.1504631	total: 5.59s	remaining: 692ms
890:	learn: 23.1450809	total: 5.6s	remaining: 686ms
891:	learn: 23.1409714	total: 5.61s	remaining: 679ms
892:	learn: 23.1370712	total: 5.62s	remaining: 673ms
893:	learn: 23.1327473	total: 5.62s	remaining: 666ms
894:	learn: 23.1258348	total: 5.62s	remaining: 660ms
895:	learn: 23.1221759	total: 5.64s	remaining: 654ms
896:	learn: 23.1142675	total: 5.64s	remaining: 648ms
897:	learn: 23.1067188	total: 5.64s	remaining: 641ms
898:	learn: 23.1009603	total: 5.65s	remaining: 635ms
899:	learn: 23.0944693	total: 5.65s	remaining: 628ms
900:	learn: 23.0874709	total: 5.67s	remaining: 623ms
901:	learn: 23.0845641	total: 5.68s	remaining: 618ms
902:	learn: 23.0813946	total: 5.7s	remaining: 612ms
903:	learn: 23.0787628	total: 5.7s	remaining: 606ms
904:	learn: 23.0746630	total: 5.71s	remaining: 599ms
905:	learn: 23.0646577	total: 5.71s	remaining: 593ms
906:	learn: 23.0552701	total: 5.72s	remaining: 586ms
907:	learn: 23.0495733	total: 5.72s	remaining: 580ms
908:	learn: 23.0434866	total: 5.72s	remaining: 573ms
909:	learn: 23.0350837	total: 5.73s	remaining: 566ms
910:	learn: 23.0282675	total: 5.73s	remaining: 560ms
911:	learn: 23.0180877	total: 5.74s	remaining: 554ms
912:	learn: 23.0151534	total: 5.75s	remaining: 548ms
913:	learn: 23.0088586	total: 5.76s	remaining: 542ms
914:	learn: 23.0040001	total: 5.76s	remaining: 535ms
915:	learn: 23.0017546	total: 5.77s	remaining: 529ms
916:	learn: 22.9992367	total: 5.77s	remaining: 522ms
917:	learn: 22.9858405	total: 5.78s	remaining: 516ms
918:	learn: 22.9807250	total: 5.78s	remaining: 509ms
919:	learn: 22.9704027	total: 5.78s	remaining: 503ms
920:	learn: 22.9630085	total: 5.79s	remaining: 496ms
921:	learn: 22.9581531	total: 5.79s	remaining: 490ms
922:	learn: 22.9555414	total: 5.79s	remaining: 483ms
923:	learn: 22.9487410	total: 5.79s	remaining: 477ms
924:	learn: 22.9438768	total: 5.8s	remaining: 470ms
925:	learn: 22.9374920	total: 5.8s	remaining: 464ms
926:	learn: 22.9339502	total: 5.8s	remaining: 457ms
927:	learn: 22.9296134	total: 5.82s	remaining: 452ms
928:	learn: 22.9267576	total: 5.83s	remaining: 446ms
929:	learn: 22.9208026	total: 5.84s	remaining: 440ms
930:	learn: 22.9166749	total: 5.85s	remaining: 433ms
931:	learn: 22.9145575	total: 5.85s	remaining: 427ms
932:	learn: 22.9064063	total: 5.86s	remaining: 421ms
933:	learn: 22.9021906	total: 5.88s	remaining: 416ms
934:	learn: 22.8994251	total: 5.89s	remaining: 410ms
935:	learn: 22.8890957	total: 5.9s	remaining: 403ms
936:	learn: 22.8820811	total: 5.9s	remaining: 397ms
937:	learn: 22.8778575	total: 5.91s	remaining: 391ms
938:	learn: 22.8677042	total: 5.92s	remaining: 384ms
939:	learn: 22.8651139	total: 5.92s	remaining: 378ms
940:	learn: 22.8624917	total: 5.92s	remaining: 371ms
941:	learn: 22.8603908	total: 5.93s	remaining: 365ms
942:	learn: 22.8558255	total: 5.93s	remaining: 359ms
943:	learn: 22.8426810	total: 5.93s	remaining: 352ms
944:	learn: 22.8381870	total: 5.94s	remaining: 345ms
945:	learn: 22.8321696	total: 5.94s	remaining: 339ms
946:	learn: 22.8265671	total: 5.94s	remaining: 332ms
947:	learn: 22.8220371	total: 5.94s	remaining: 326ms
948:	learn: 22.8192618	total: 5.95s	remaining: 320ms
949:	learn: 22.8133305	total: 5.95s	remaining: 313ms
950:	learn: 22.8092273	total: 5.95s	remaining: 307ms
951:	learn: 22.8040736	total: 5.95s	remaining: 300ms
952:	learn: 22.7970688	total: 5.95s	remaining: 294ms
953:	learn: 22.7910112	total: 5.96s	remaining: 287ms
954:	learn: 22.7854937	total: 5.96s	remaining: 281ms
955:	learn: 22.7815391	total: 5.98s	remaining: 275ms
956:	learn: 22.7783656	total: 5.99s	remaining: 269ms
957:	learn: 22.7751990	total: 6s	remaining: 263ms
958:	learn: 22.7730849	total: 6.01s	remaining: 257ms
959:	learn: 22.7651611	total: 6.01s	remaining: 251ms
960:	learn: 22.7605530	total: 6.02s	remaining: 244ms
961:	learn: 22.7578075	total: 6.02s	remaining: 238ms
962:	learn: 22.7501181	total: 6.02s	remaining: 231ms
963:	learn: 22.7467498	total: 6.03s	remaining: 225ms
964:	learn: 22.7439306	total: 6.03s	remaining: 219ms
965:	learn: 22.7409126	total: 6.03s	remaining: 212ms
966:	learn: 22.7367130	total: 6.04s	remaining: 206ms
967:	learn: 22.7335207	total: 6.04s	remaining: 200ms
968:	learn: 22.7273748	total: 6.04s	remaining: 193ms
969:	learn: 22.7181839	total: 6.04s	remaining: 187ms
970:	learn: 22.7140501	total: 6.06s	remaining: 181ms
971:	learn: 22.7112498	total: 6.06s	remaining: 175ms
972:	learn: 22.7069889	total: 6.07s	remaining: 168ms
973:	learn: 22.7018024	total: 6.07s	remaining: 162ms
974:	learn: 22.6983248	total: 6.07s	remaining: 156ms
975:	learn: 22.6916899	total: 6.08s	remaining: 149ms
976:	learn: 22.6863976	total: 6.08s	remaining: 143ms
977:	learn: 22.6816371	total: 6.08s	remaining: 137ms
978:	learn: 22.6789633	total: 6.09s	remaining: 131ms
979:	learn: 22.6751592	total: 6.09s	remaining: 124ms
980:	learn: 22.6703677	total: 6.11s	remaining: 118ms
981:	learn: 22.6660129	total: 6.12s	remaining: 112ms
982:	learn: 22.6599872	total: 6.12s	remaining: 106ms
983:	learn: 22.6568924	total: 6.13s	remaining: 99.6ms
984:	learn: 22.6466000	total: 6.13s	remaining: 93.4ms
985:	learn: 22.6382566	total: 6.13s	remaining: 87.1ms
986:	learn: 22.6311834	total: 6.14s	remaining: 80.8ms
987:	learn: 22.6279162	total: 6.14s	remaining: 74.6ms
988:	learn: 22.6245141	total: 6.14s	remaining: 68.3ms
989:	learn: 22.6211459	total: 6.15s	remaining: 62.1ms
990:	learn: 22.6169089	total: 6.15s	remaining: 55.9ms
991:	learn: 22.6131104	total: 6.15s	remaining: 49.6ms
992:	learn: 22.6074590	total: 6.17s	remaining: 43.5ms
993:	learn: 22.6038505	total: 6.18s	remaining: 37.3ms
994:	learn: 22.5955910	total: 6.18s	remaining: 31.1ms
995:	learn: 22.5922722	total: 6.2s	remaining: 24.9ms
996:	learn: 22.5873596	total: 6.2s	remaining: 18.7ms
997:	learn: 22.5836186	total: 6.21s	remaining: 12.4ms
998:	learn: 22.5750115	total: 6.21s	remaining: 6.21ms
999:	learn: 22.5702851	total: 6.21s	remaining: 0us

In [216]:
X_check=cat.predict(X_valid)

In [217]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(X_check,y_valid))

17.994532191864312

In [218]:
submit = pd.read_csv('sample_submission.csv')

In [219]:
X_test = test_encoded.drop('row_id',axis=1)
pvtest = cat.predict(X_test)

In [220]:
result = pd.DataFrame()
result['row_id']=test_encoded['row_id']

In [221]:
result

            row_id
date
2019-01-01   26298
2019-01-01   26299
2019-01-01   26300
2019-01-01   26301
2019-01-01   26302
...            ...
2019-12-31   32863
2019-12-31   32864
2019-12-31   32865
2019-12-31   32866
2019-12-31   32867

[6570 rows x 1 columns]

In [222]:
result['num_sold']=result['row_id']

In [223]:
for i in range(result.shape[0]):
    result['num_sold'][i] = pvtest[i]

In [224]:
result.head()

            row_id  num_sold
date
2019-01-01   26298       422
2019-01-01   26299       624
2019-01-01   26300       190
2019-01-01   26301       721
2019-01-01   26302      1030

In [225]:
result.to_csv('sample_submission.csv', index=False)